<div class="person_cards">
  <% @victims.each do |victim| %>
    <%= render partial: "prank/person_card", locals: { person: victim } %>
  <% end %>
  <%= render partial: "prank/person_card", locals: { is_new_person: true } %>
</div>


