<div class="landing_page">

  <div class="promo_header">
    <div class="promo_main">
    </div>
    <div class="promo_sidebar">
    </div>
  </div>

  <div class="promo_quote">
  </div>

  <div class="how_it_works">
  </div>

  <div class="get_started">
  </div>

</div>
