<div class="landing_page">

  <div class="promo_header">
    <div class="promo_main">
      <div class="promo_image"></div>
    </div>
    <div class="promo_sidebar">
      <!-- First sidebar image -->
      <div class="sidebar_image_container">
        <div class="sidebar_image first_sidebar_image"></div>
        <div class="sidebar_image_label">
          Kim's profound thoughts
        </div>
      </div>

      <!-- Second sidebar image -->
      <div class="sidebar_image_container">
        <div class="sidebar_image first_sidebar_image"></div>
        <div class="sidebar_image_label">
          Unbelievable results
        </div>
      </div>

      <!-- Third sidebar image -->
      <div class="sidebar_image_container">
        <div class="sidebar_image first_sidebar_image"></div>
        <div class="sidebar_image_label">
          Almost 100% gibberish
        </div>
      </div>
    </div>
  </div>

  <div class="promo_quote">
  </div>

  <div class="how_it_works">
  </div>

  <div class="get_started">
  </div>

</div>
