
.person_card {
  transition: all 400ms ease-in-out;
  border-radius: 8px;
  box-shadow: 0px 1px 2px #D4D4D4;
  width: 300px;
  background-color: #F6F6F6;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;

  .person_card_content_top {
    padding: 20px;
    padding-top: 5px;
    // box-shadow: 0px 1px 2px #C7C7C7;
    // position: relative;
    // z-index: 2; // make this go on top of messages to show box shadow
    border-bottom: 1px solid rgba(199, 199, 199, 0.4);
  }

  .person_card_header {
    padding: 0px;
    width: 300px;
    height: 130px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-repeat: no-repeat;
    background-image: image-url("personheader.jpg");
    background-image: -webkit-image-set(
      image-url("personheader.jpg")    1x,
      image-url("personheader@2x.jpg") 2x
    );
  }

  .person_card_messages {
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .person_profile_picture {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -110px;
    width: 150px;
    height: 150px;
    border-radius: 300px;
    background-repeat: no-repeat;
    border: 2px solid white;
    background-image: image-url("blankprofilepicture.jpg");
    background-image: -webkit-image-set(
      image-url("blankprofilepicture.jpg")    1x,
      image-url("blankprofilepicture@2x.jpg") 2x
    );
  }

  .person_name {
    text-align: center;
    font-size: 2.0em;

    input {
      width: 100%;
      text-align: center;
      font-size: 1.1em;
      font-weight: 500;
    }

    .out_of_focus_input {
      color: #333;
    }
  }

  .person_phone_number {
    margin-top: -10px;
  }

  .person_phone_number, .person_phone_number_text {
    text-align: center;
    color: #333;
    line-height: 1.0em;
    font-size: 1.0em;
  }

  .loading_messages_container {
    padding-top: 20px;
    text-align: center;
    height: 200px;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

  }

  .out_of_focus_input {
    background-color: transparent;
    border: 2px solid transparent;
    color: #AEAEAE;
  }

  .card_dark_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(83, 83, 83, 0.9);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;

    &:hover {
      background-color: rgba(83, 83, 83, 0.8);
    }
  }

  .card_dark_overlay_text {
    height: 100%;
    text-align: center;
    font-size: 2.5em;
    color: white;

    div {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      color: white;
      text-shadow: 0px 1px 2px #585858;
    }

    .dark_overlay_plus {
      display: block;
      font-size: 1.5em;
      margin-bottom: -10px;
      color: white;
    }
  }

  .new_person_instructions {
    padding: 20px;
    background-color: white;
  }

  .begin_button {
    margin-top: 12px;
  }
}

.fade_in_right {
  margin-left: -22px;
  opacity: 0;
}

.fade_in_right_target {
  margin-left: 0px;
  opacity: 1;
}
